

body {
background-color: #D0E4F5;
background-image: url("http://elevator-sim.000webhostapp.com/back.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 50% 50%;
}
h1 {
  color: blue;
}
p {
  color: red;
}